*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
.buttons2 {
    display: none;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(background.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.content{
    width: 100%;
    position: absolute;
    margin-top: 18%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}
.content h1{
   font-size: 80px;
}
.content p{
    font-size: 20px auto;
    font-weight: 100;
    line-height: 25px;
    margin-top: 1%;
}
/*----------Shared css ends here----------*/
.bus-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.bus-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 800px;
    background-color: rgba(100, 78, 167, 0.3);
    border-radius: 20px;
    padding: 30px;
}

.top-seats, .buttom-seats {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.seat-column {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.seat {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #ada0d3;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 10px;
}

.seat:hover {
    background-color: #ada0d3;
}

.seat.selected {
    background-color: #ada0d3;
}

.seat.disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

#confirmBtn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #644ea7;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 25px;
}

#confirmBtn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

#selectedSeatDisplay {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}